<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div class="display-1">boi-mts</div>
    <hr/>
    <h1>Welcome to mts Application</h1>
    <p>This is the main page of the mts application.</p>
    <hr/>
    <a class="btn btn-primary" href="transfer">Transfer</a>
    <hr/>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">Transfer-Success</div>
                <div class="card-body">
                    <div>
                       Id: <span th:text="${response.transactionId}"></span>
                        <br/>
                       status: <span th:text="${response.status}"></span>
                        <br/>
                       message: <span th:text="${response.message}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>